* {
  border: 1px solid red;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.canvas-container {
  display: flex;
  height: 100vh;
}

.header-container {
  position: absolute;
  top: 40vh;
  left: 15vw;
  height: fit-content;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 5vmax;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.header-text {
  color: white;
}

.subheader-text {
  height: fit-content;
  font-family: "Cabin", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1vmax;
  letter-spacing: 0.2vmax;
  position: absolute;
  right: 0;
}

.button {
    position: absolute;
    right: 0;
    top: 10vmax;
    width: auto;
    height: auto;
    border: solid 1px blue;
    font-size: 2vmax;
    text-align: right;
}

.button:hover {
    cursor: pointer;
}